body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: #0077b6;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}


a {
  color: #0077b6;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #00b4d8;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0096c7;
}


.main-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ccc;
}


footer {
  text-align: center;
  padding: 15px;
  background-color: #caf0f8;
  margin-top: 40px;
}


body.dark {
  background-color: #1a1a1a;
  color: #eee;
}

body.dark section {
  background-color: #333;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
}

body.dark a {
  color: #90e0ef;
}

body.dark header {
  background-color: #023e8a;
}

body.dark footer {
  background-color: #1e2b3a;
}
